@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section-tag {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  background: linear-gradient(to top, #142bf7, #00ade6);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  margin-bottom: 0.75rem;
}

.section {
  display: block;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  color: #171717;
}

.section-sub {
  font-size: 1rem;
  color: var(--muted);
  line-height: 1.75;
  max-width: 1000px;
  margin: auto;
}

.bg-theme {
  background: linear-gradient(to top, #070b27, #032f4a);
}

.dark {
  background-color: #0e0918;
}

.text-theme {
  color: #e4ffe2;
}

.gradient-text {
  display: block;
  color: transparent;
  background: linear-gradient(to right, #4959eb, #05d1f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
